<div class="w-full min-h-screen p-4 bg-slate-100">
  <form [formGroup]="formGroup" class="w-full min-h-full flex flex-row">
    <div class="flex-1 mx-4 flex flex-col">
      <mat-form-field class="example-full-width">
        <mat-label>Cubes</mat-label>
        <input
          matInput
          formControlName="cube"
          (keyup.enter)="save('cube')"
          class="max-w-xs p-2 border-slate-700"
        />
        <button
          *ngIf="editingCube"
          type="button"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="editingCube = false; formGroup.get('cube')?.setValue('')"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-list class="max-h-[800px] overflow-y-auto">
        <mat-list-item (click)="editCube(cube)" *ngFor="let cube of cubesList">
          <span matListItemTitle>
            {{ cube.key }} <strong>{{ cube.amount }} </strong>
          </span>
          <span matListItemLine> {{ cube.last | date : "mediumDate" }} </span>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="flex-1 mx-4 flex flex-col">
      <mat-form-field class="example-full-width">
        <mat-label>Clicks</mat-label>
        <input
          matInput
          formControlName="click"
          (keyup.enter)="save('click')"
          class="max-w-xs p-2 border-slate-700"
        />
        <button
          *ngIf="editingClick"
          type="button"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="editingClick = false; formGroup.get('click')?.setValue('')"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-list class="max-h-[600px] overflow-y-auto">
        <mat-list-item
          (click)="editClick(click)"
          *ngFor="let click of clicksList"
        >
          <span matListItemTitle>
            ({{ click.level }}) {{ click.key }}
            <strong>{{ click.amount }} </strong>
          </span>
          <span matListItemLine> {{ click.last | date : "mediumDate" }} </span>
        </mat-list-item>
      </mat-list>
    </div>
  </form>
</div>

<router-outlet></router-outlet>
